<!DOCTYPE html>
<html>
    <head>
        <title>Lista de Instituciones</title>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"
        ></script>
        <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body>
        <div>
            <a href="/" class="btn btn-primary ml-3">Inicio</a>
            <a href="/institucion/add" class="btn btn-secondary ml-3"
                >Nueva Institución</a
            >
            <a href="/institucion" class="btn btn-info ml-3"
                >Lista de Instituciones</a
            >
        </div>
        <% if (messages.error) { %>
        <p style="color:red"><%- messages.error %></p>
        <% } %> <% if (messages.success) { %>
        <p class="alert alert-success mt-4"><%- messages.success %></p>
        <% } %>
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Dirección</th>
                    <th width="200px">Action</th>
                </tr>
            </thead>
            <tbody>
                <% if(data.length){ for(var i = 0; i< data.length; i++) {%>
                <tr>
                    <th scope="row"><%= (i+1) %></th>
                    <td><%= data[i].nombre%></td>
                    <td><%= data[i].descripcion%></td>
                    <td><%= data[i].telefono%></td>
                    <td><%= data[i].correo%></td>
                    <td><%= data[i].direccion%></td>
                    <td>
                        <a
                            class="btn btn-success edit"
                            href="../institucion/edit/<%=data[i].id_institucion%>"
                            >Editar</a
                        >
                        <form
                            display="inline"
                            class="dis-form"
                            method="post"
                            action="/institucion/<%=data[i].id_institucion%>"
                        >
                            <input
                                type="hidden"
                                name="_method"
                                value="delete"
                            />
                            <button
                                type="submit"
                                class="btn btn-danger delete"
                                onclick="return confirm('Estas seguro de querer eliminar esta Institución?');"
                            >
                                Eliminar
                            </button>
                        </form>
                    </td>
                </tr>
                <% } }else{ %>
                <tr>
                    <td colspan="3">Sin Insituciones</td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </body>
</html>
